:root {
    --gray: #bababa;
    --white:#FFFFFF;
    --black: #000000;
    --dark-blue: #0d1529;
    --dark-blue-secondary: #121f3a;
    --primary-blue: #40a7d9;
    --light-blue: #08497a;
    --dark-orange: #db9973;
    --light-orange: #ca6262;
    --light-orange-clear: #f8d7da;
    --light-green: #44a29d;
    --dark-green: #1e424c;
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--gray);
}

body {
    background-color: var(--dark-blue);
    font-size: 1.8rem;
}

.prueba{
    border: 1px solid red;;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header"
        "cont"
        "footer"
    ;
}

.txt_enfasis {
    color: var(--primary-blue);
    font-weight: bolder;
}

/* elementos */
.arrival_date_label{
    margin-left: 80px;
}

.arrival_date_input{
    margin-top: 8px;
}

a {
    text-decoration: none;
}

.icons {
    margin-top: 4px;
    font-size: 1.6rem;
}

.icon_trash {
    margin-top: 1px;
    margin-left: 4px;
    color: var(--light-orange);
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn_a {
    color: var(--primary-blue);
}

.btn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-blue);
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    width: 150px;
    height: 60px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn_danger {
    background-color: var(--light-orange);
    border:none;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 10px;
    margin-right: 3px;
    cursor: pointer;
}

.btn_primary {
    background-color: var(--primary-blue);
    border:none;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.alert-success{
    display: flex;
    justify-content: center;
    align-content: center;
}

.alert-success_wrapper{
    background-color: var(--dark-green);
    width: 600px;
    height: 80px;
    border-radius: 20px;
    border: 2px var(--light-green) solid;
    margin-top: 20px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
}
.modal-alerts{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.modal-alert__wrapper{
    background-color: var(--light-orange);
    width: 600px;
    height: auto;
    border-radius: 20px;
    border: 2px var(--light-orange) solid;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility:hidden; */
}

.modal-alert__wrapper ul{
    padding: 10px 0px 10px 0;
}

.modal, .modal_edit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(4, 168, 243, 0.3);
    cursor: pointer;
    opacity: 10;
    backdrop-filter: blur(8px);
    transition: all 0.35s ease-in;
    box-sizing: border-box;

}

.modal-dialog {
    position: relative;
    width: 60vw;
    height: auto;
    max-width: 800px;
    max-height: 90vh;
    border-radius: 15px;
    padding: 1rem;
    background: var(--dark-blue-secondary);
    overflow: auto;
    cursor: default;
    box-sizing: border-box;
}

.modal-header,
.modal-footer {
    background: var(--lightgray);
}

.modal-footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.modal-footer button{
    width: 41%;
    height: 80px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}

.modal_no-visible {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal_is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-header__txt{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 250px;
}
.modal-alert-header__txt{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 348px;
}

.modal-content_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.modal-buttons__content{
    width: 60%;
}

.close-modal{
    color: var(--gray);
    font-size: 2.2rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 15px;
}

.modal-content__form{
    margin-top: 50px !important;
}
/* elementos */
/* form */
input,select{
    display: block;
    height: 70px;
    width: 80%;
    margin:0 auto;
    border: none;
    padding-left: 8px;
}
select{
    width: 81%;
}

.rentersLink{
    text-decoration: none;
    color: var(--gray);
}

/* form */
/* table */
.table_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 30px;
}

th,
td {
    padding: 20px;
    background: var(--dark-blue-secondary);
    border-bottom: 2px solid var(--gray);
    font-weight: 300;
}

th {
    font-weight: bold;
}

/* table */
.transparent {
    background-color: var(--gray);
    opacity: 0.1;
}

.borders {
    border: 1px var(--light-orange) solid;
}

nav {
    background-color: var(--dark-blue-secondary);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#logo{
    width: 300px;
    margin-left: 15%;
}

.header {
    grid-area: header;
}

.content_int {
    grid-area: cont;
}

.txt_cont {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    text-align: center;
}

.h1_text {
    margin-top: 20px;
    margin-right: 30px;
    color:var(--primary-blue);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-blue);
}

.foot {
    border: 1px red solid;
    grid-area: footer;
}

/* estilos_show_renters */
.container-data{
    display: grid;
    grid-template-columns: repeat(2,650px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas:
        "inf inf"
        "mail phone"
        "apartment status"
        "arrival departure"
        "title_tb title_tb"
        "tb_hist tb_hist"
    ;
}

.container-data__txt{
    grid-area:inf;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-data__mail{
    display: flex;
    align-items: center;
    grid-area:mail;
}
.container-data__phone{
    display: flex;
    align-items: center;
    grid-area:phone;
}
.container-data__apartment{
    display: flex;
    align-items: center;
    grid-area:apartment;
}
.container-data__status_renter{
    display: flex;
    align-items: center;
    grid-area:status;
}
.container-data__arrival_date{
    display: flex;
    align-items: center;
    grid-area:arrival;
}
.container-data__departure_date{
    display: flex;
    align-items: center;
    grid-area:departure;
}

.container-data__tb_title{
    grid-area:title_tb;
}

.container-data__tb_title h2{
    margin-top: 35px;
}

.container-data_tb_hist{
    grid-area:tb_hist;
}

.bordeado{
    border: 1px solid var(--gray);
}

.container-data span{
    margin-right: 3px;
    margin-left: 6px;
    font-weight: 600;
    color: var(--primary-blue);
}
/* estilos_show_renters */
